.header {
    display: flex;
    justify-content: end;
    padding: 10px;
}
.modal-content{
    position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
    width: 50%;
}
.modal-title {
    font-size: 16px;
    margin-bottom: 24px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}

.modal-buttons button {
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background-color: #ffffff;
}

.modal-buttons button:last-child {
    background-color: #6f47c7;
    color: white;
}