.landing-page{
    background-color: #6c40cc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.landing-left-side{
    background-color: #6c40cc;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.landing-right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  height: 100%;
}
.landing-left-side,
.landing-right-side{
    flex: 1;
}

.title{
    margin: 1.5em;
    font-size: 24px;
    color: #fff;
}

.landing-left-side h2{
    font-size: 30px;
    font-weight: bold;
}

.landing-left-side p{
    font-size: 20px;
    font-weight: 100;
} 


.signup-btn{
  width: 40%;
  background-color: #fff;
  color: #6f47c7;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn{
    width: 40%;
  background-color: #fff;
  color: #6f47c7;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.logo-img {
    max-width: 100%;
    max-height: 80%;
    object-fit: contain;
    margin: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    width: 100%;
}

@media (max-width:900px) {

    .left-side-content{
    flex-direction: column-reverse;
    height: auto;
    }

    .landing-left-side{
        width: 100%;
        border-radius: 0;
        height: 40px;
    }
    .landing-right-side{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }

    .logo-img{
        width: 100%;
        max-height: 200px;
    }
}