.admin-container {
  padding: 30px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.admin-table th {
  background-color: #f2f2f2;
}
