.progress-bar{
    position: relative;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}
.error-lines{
    display: flex;
    flex-direction: column;
}
.password-error{
    max-width: 43%;
    max-height: 15px;;
}